@charset "utf-8";
.fontBig {
  font-size: 16px;
}
[data-dpr="2"] .fontBig {
  font-size: 32px;
}
[data-dpr="3"] .fontBig {
  font-size: 48px;
}
/*公用模块*/
.hr {
  height: .3rem;
  background: #d7ecf7;
}
.list {
  position: relative;
  width: 9.375rem;
  margin: 0 auto;
}
.list_item {
  float: left;
  width: 4.5rem;
  /*height: 3.1rem;*/
  margin: 0 .3rem .46rem 0;
}
.list_itemImg {
  width: 4.5rem;
  height: 3.1rem;
  margin-bottom: .28rem;
  border: 1px solid #e5e5e5;
}
.list_itemTitle {
  height: 1.15rem;
  overflow: hidden;
  color: #000;
}
.list_itemInfo {
  color: #999;
}
.list_itemBtn {
  display: block;
  width: 3.125rem;
  height: .94rem;
  margin: 0 auto;
  line-height: .94rem;
  text-align: center;
  background: #fc5359;
  border-radius: 8px;
  color: #fff;
}
.list_itemBtn_over {
  background: #bbb;
}
.list_item:nth-child(2n) {
  margin-right: 0;
}
.area_title {
  height: 1.25rem;
  width: 100%;
  color: #fff;
  text-align: center;
  line-height: 1.25rem;
  background: #2a2a67;
}
.area_alert {
  height: 1.56rem;
  text-align: center;
  line-height: 1.56rem;
  color: #2a2a67;
}
.area_alert span {
  display: inline-block;
  width: .52rem;
  height: .52rem;
  border-radius: 50%;
  background: #fc5359;
  color: #fff;
  text-align: center;
  line-height: .52rem;
}
/*banner*/
.banner img {
  width: 100%;
}
/*nav*/
.nav {
  display: flex;
  height: 1.25rem;
  width: 100%;
  margin-bottom: .3rem;
  background: #2a2a67;
}
.nav_item {
  flex: 1;
  text-align: center;
  line-height: 1.25rem;
  background: #2a2a67;
}
.nav_item a {
  color: #fff;
}
.nav_item_active {
  background: #fc5359;
}
/*糯米推广位*/
/*课程区*/
.course .list_itemTitle {
  text-align: center;
}
